<div class="row">
  <div class="col-md-8">
    <div style="display: block">
      <canvas baseChart
              [datasets]="radarChartData"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-primary-outline btn-block"
    (click)="randomize()">
      Actualizar
    </button>
  </div>
</div>