<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista"/>
    </div>
  </div>
</div>

<!--<div class="card-columns m-5">
  <div class="card" *ngFor="let artista of artistas">
    <img class="card-img-top" [src]="artista.images | noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ artista.name }}</h5>
    </div>
  </div>
</div>-->
<app-loading *ngIf="loading" class="m-5"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas" class="m-5"></app-tarjetas>