<!--<ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensaje}}
  </li>
</ul>-->
<div class="container main-container">
  <h1>FireChat</h1>

  <div class="col-md-12 text-right" *ngIf="chatService.usuario.uid">
    <button type="button" class="btn btn-outline-danger" (click)="salir()">
      Salir
    </button>
  </div>

  <div class="chat-window" *ngIf="chatService.usuario.uid">
      <app-chat></app-chat>
  </div>

  <app-login *ngIf="!chatService.usuario.uid"></app-login>

</div>