<div class="container main-container">
  <h1>Canal de YouTube</h1>
  <hr>
  <div class="card-columns">
    <div class="card" *ngFor="let video of videos">
      
        <img class="card-img-top" [src]="video.thumbnails.maxres?.url" alt="Card image cap">
      
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">{{ video.description }}</p>
        <button
         (click)="verVideo(video)" type="button"
         data-toggle="modal" data-target="#exampleModal"
         class="btn btn-block btn-outline-primary">
          Ver vídeo
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-primary btn-block" (click)="cargarMas()">Cargar más...</button>

<!-- Modal -->
<div class="modal fade" 
id="exampleModal" 
tabindex="-1" role="dialog" 
aria-labelledby="exampleModalLabel" aria-hidden="true"
data-backdrop="static"
data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content" *ngIf="videoSel">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ videoSel.title }}</h5>
        </div>
        <div class="modal-body">
            <iframe width="100%" height="315" [src]="videoSel.resourceId.videoId | videoseguro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Close</button>
        </div>
      </div>
    </div>
  </div>