<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

<div [ngClass]="{'text-right': chatService.usuario.uid == item.uid }" *ngFor="let item of chatService.chats">
      <span class="badge" [ngClass]="{'badge-info': chatService.usuario.uid == item.uid, 'badge-danger':chatService.usuario.uid != item.uid }"> {{ item.nombre }}</span>
      
      <p>{{ item.mensaje }} </p>

</div>

<div *ngIf="error" class="alert alert-light" role="alert">
    {{ error }}
  </div>

</div>

<input type="text"
[(ngModel)]="mensaje"
name="Mensaje"
#Mensaje="ngModel"
class="form-control"
(keyup.enter)="enviarMensaje()"
placeholder="Enviar mensaje" />