<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{'is-invalid':!forma.get('nombre').valid, 'is-valid':forma.controls['nombre'].valid}">
               <div class="invalid-feedback" *ngIf="!forma.controls['nombre'].valid">
                  Este campo es requerido
                </div>
               <div class="invalid-feedback" *ngIf="forma.controls['nombre'].errors?.minlength">
                  Valide la longitud, longitud mínima de {{ forma.controls['nombre'].errors.minlength.requiredLength }}
                </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Pasatiempos</label>
      <div class="col-8" formArrayName="pasatiempos">

        <input *ngFor="let item of forma.controls['pasatiempos'].controls; let i = index" 
              class="form-control"
               type="text"
               placeholder="Pasatiempo"
               [formControlName]="i">
      </div>
      <button type="button" 
      name="button" 
      class="btn btn-outline-primary" 
      (click)="agregarpasatiempo()">Nuevo</button>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Password 1</label>
        <div class="col-md-8">
            <input class="form-control"
            type="password"
            placeholder="Password 1"
            formControlName="password1">
        </div>
      </div>
    
      <div class="form-group row">
        <label class="col-2 col-form-label">Password 2</label>
        <div class="col-md-8">
            <input class="form-control"
            type="password"
            placeholder="Password 2"
            formControlName="password2">
        </div>
      </div>

  <div formGroupName="nombrecompleto">

      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Nombre"
                 formControlName="nombre"
                 [ngClass]="{'is-invalid':!forma.get('nombrecompleto.nombre').valid, 'is-valid':forma.get('nombrecompleto.nombre').valid}">
                 <div class="invalid-feedback" *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
                    Este campo es requerido
                  </div>
                 <div class="invalid-feedback" *ngIf="forma.controls['nombrecompleto'].controls['nombre'].errors?.minlength">
                    Valide la longitud, longitud mínima de {{ forma.get('nombrecompleto.nombre').errors.minlength.requiredLength }}
                  </div>
  
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Apellido"
                 formControlName="apellido">
        </div>
      </div>

    </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

{{ forma.valid }}
