<ion-header>
    <ion-navbar color="primary">
      <ion-title>Pendientes</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <ion-card *ngFor="let lista of listaDeseos.listas">

      <ion-item>
        Boton
      </ion-item>
    
      <h2>{{ lista.nombre }}</h2>

      <ion-list>
        <ion-item>
          <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>Tetris
        </ion-item>
        <ion-item>
          <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>Tetris
        </ion-item>
        <ion-item>
          <ion-icon ios="ios-done-all" md="md-done-all"></ion-icon>Tetris
        </ion-item>
      </ion-list>
    
    </ion-card>
    
    <!--<ul>
      <li *ngFor="let lista of listaDeseos.listas">
        {{ lista.nombre }}
      </li>
    </ul>-->

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="irAgregar()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-fab>

  </ion-content>
  