<ion-header>
    <ion-navbar color="primary">
      <ion-title>Pendientes</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <ion-card *ngFor="let lista of listaDeseos.listas; let i = index">

      <ion-item color="primary" (click)="verDetalle(lista,i)">
        <h2>{{ lista.nombre }}</h2>
        <ion-note item-right>
          {{ lista.listaItem.length }} items
        </ion-note>
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let item of lista.listaItem | slice:0:2" (click)="verDetalle(lista,i)">
          <ion-icon *ngIf="!completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
          <ion-icon *ngIf="completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{ item.nombre }}
        </ion-item>

        <ion-item *ngIf="lista.listaItem.length > 2" class="center">
            <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
      </ion-list>
    
    </ion-card>
    
    <!--<ul>
      <li *ngFor="let lista of listaDeseos.listas">
        {{ lista.nombre }}
      </li>
    </ul>-->

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="irAgregar()">
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </button>
      </ion-fab>

  </ion-content>
  